/* Battle Layout - Desktop (side by side 50/50 split) */
.battleLayoutDesktop {
  display: flex;
  min-height: 100vh;
}

.battlePlayerSide {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.battleOpponentSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #000;
}

.sideContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
